body{
    background-color: rgb(199,215,156);
}
.grid-container{
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}
h1,h2
{
	background-color:rgb(113,153,130);
    color: #d4dce4;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.grid-container > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:#ebf1dc;
} 
#header{
    grid-column: 1 / span 3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
    display: flex; /* ใช้ Flexbox เพื่อจัดรูปแบบ */
    justify-content: space-between; /* จัดตำแหน่งองค์ประกอบภายในให้เรียงตามขอบขวาและซ้ายของส่วน main */
    align-items: center; /* จัดตำแหน่งแนวตั้งภายในให้อยู่ตรงกลาง */
}
#right{
    grid-column: 3 / span 1;
}
#t1{
    grid-column: 1/span 3;
}
#t2{
    grid-column: 1/ span 1 ;
}
#t3{
    grid-column: 2/ span 1;
}
#t4{
    grid-column: 2/ span 1 ;
    display: flex; /* ใช้ Flexbox เพื่อจัดรูปแบบ */
        justify-content: space-between; /* จัดตำแหน่งองค์ประกอบภายในให้เรียงตามขอบขวาและซ้ายของส่วน main */
       align-items: center;
}
#t5{
    grid-column: 2/ span 1 ;
}
#footer{
    grid-column: 1 / span 3;
}

@media only screen and (max-width: 480px){
    body{
        background-color: lightblue;
    }
} 

@media only screen and (max-width: 768px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 4;
    }
    
    #menu{
        grid-column: 1 / span 4;
        text-align: left;
    }
    
    #menu div{
        display: inline-block;
    }

    #main{
        grid-column: 3 / span 1;
        display: flex; /* ใช้ Flexbox เพื่อจัดรูปแบบ */
        justify-content: space-between; /* จัดตำแหน่งองค์ประกอบภายในให้เรียงตามขอบขวาและซ้ายของส่วน main */
       align-items: center;
    }
    #right{
        grid-column: 4 / span 1;
    }
    #t3{
    grid-column: 3/ span 1;
}
#t4{
    grid-column: 3/ span 1 ;
    display: flex; /* ใช้ Flexbox เพื่อจัดรูปแบบ */
        justify-content: space-between; /* จัดตำแหน่งองค์ประกอบภายในให้เรียงตามขอบขวาและซ้ายของส่วน main */
       align-items: center;
}
#t5{
    grid-column: 3/ span 1 ;
}
    #footer{
        grid-column: 1 / span 3;
    }
}

@media only screen and (max-width: 480px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }
    
    #menu{
        grid-column: 1 / span 1;
    }
    
    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 1 / span 1;
    }
    #t1{
        grid-column: 1/span 1;
    }
    #t2{
        grid-column: 1/ span 1 ;
    }
    #t3{
        grid-column: 1/ span 1;
    }
    #t4{
        grid-column: 1/ span 1 ;
    }
    #t5{
        grid-column: 1/ span 1 ;
    }
    #footer{
        grid-column: 1 / span 1;
    }
} 
h3{
    font-family: Garamond, "Times New Roman", serif; 
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    margin: auto;
    width: 150px;
} 
#two{
    text-align: left;
}
#t1 div{
    margin-bottom: 20px;
}
#t1 img{
    width:100%;

}
#t2 div{
    margin-bottom: 20px;
}
#t2 img{
    width:100%;

}
#t3 div{
    margin-bottom: 20px;
}
#t3 img{
    width:40%;

}
#t4 div{
    margin-bottom: 20px;
}
#t4 img{
    width:100%;

}
#main button{
    margin-right: 20px;
}
#main div{
    margin-bottom: 20px;
}
#main img{
    width:100%;

}

#menu img{
    width:100%;
}

#menu div{
    margin-bottom: 20px;
} 
div{
    text-align: center;
}

div a{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}
#onclick
{
    text-align: right;
}

th{
    text-decoration: underline;
}
a:link{
	color: #FF0000; 
} /* unvisited link */
a:visited{
	color: #00FF00; 
} /* visited link */
a:hover{ 
	color: #FF00FF; 
} /* mouse over link */ 
.div_list {
    flex: 1; /* ทำให้ทุกองค์ประกอบยืดเต็มความกว้างของส่วน main */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}
.div_list2 {
    flex: 1; /* ทำให้ทุกองค์ประกอบยืดเต็มความกว้างของส่วน main */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

#mleft {
    text-align: left; /* จัดข้อความด้านซ้าย */
}

#mright {
    text-align: right; /* จัดข้อความด้านขวา */
}